.container {
	width: 100vw;
	height: 100vh;
}

/*1 blokas: bendras elemento aukštis ir plotis 300px, kurį sudarys 30px padding ir 4px border;*/
.container > div:nth-child(1) {
	background-color: red;

	width: 232px;

	padding: 30px;
	border: 4px solid;
}

/*2 blokas: bendras elemento aukštis ir plotis 300px, kurį sudarys 50px padding ir 4px border;*/
.container > div:nth-child(2) {
	background-color: green;
	
	width: 192px;

	padding: 50px;
	border: 4px solid;
}

/*3 blokas: Turi užimti 45% tėvinio elemento pločio ir  100px aukščio;*/
.container > div:nth-child(3) {
	background-color: orange;

	width: 45%;
	height: 100px;
}

/*4 blokas: Turi turėti būti 250px aukščio ir 200px pločio, bei viduje turėti paveikslėlį ir 5px rėmelį;*/
.container > div:nth-child(4) {
	background-color: yellow;

	width: 200px;
	height: 250px;

	border: 5px solid;
}

/*5 blokas: Turi būti kuriamas kaip mygtukas (jame turi būti panaudojamos width, padding, border, margin savybės).*/
.container > button:nth-child(5) {
	background-color: #4CAF50; /* Green */
	border: 1px dashed #ccc;
	color: white;
	padding: 15px 32px;
	margin:  5px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
}