#menu ul {
	list-style-type: none;
	width: 200px;
}

#menu li {
	margin-bottom: 5px;
}

#menu a:link,
#menu a:visited {
	display: block;
	
	text-decoration: none;
	border: 1px solid black;
	padding: 0px 5px;
	line-height: 30px;
	
	font-weight: bold;

	color: white;
	background-color: #484848;
}

#menu a:hover {
	background-color: #fff;
	color: black;
}